@import url("https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  
}

.body {
  height: 100vh;
  width: 100vw;
  font-family: "Scada", sans-serif !important;
}

.nav-bar {
  width: 100%;
  padding: 1em 1.5em;
  box-sizing: border-box;
  /* display:block; */
}

.nav-bar img{
  height: 60px;
  border-radius: 10px;
  
}

.nav-bar p{
  font-size: 15px;
  padding-left: 70px;
  font-style: italic;
  color: #293548;
  
}

.logo-text{
  display: inline; /* move this text to right siide of logo*/
  font-family:serif;
  font-size: 48px;
  /* font-style: italic; */
  /* font-weight: 100px; */
  /* line-height: 60px; */
}


section {
  /* margin: 1em;
  border-radius: 10px; */
  position: relative;
  height: 50rem;
  
}

.wave {
  position: absolute;
  bottom: 0;
  top:40rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.wave .shape-fill {
  fill: #000000;
}

input {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  width: 320px;
}

select {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  width: 320px;
}

.home-body {
  background-image: url(Images/20827476_Tiny\ characters\ sitting\ on\ laptop\ with\ lorem\ ipsum\ title.jpg);
  height: 80vh;
  /* background-color: #9fc7ff; */
  background-size:contain;
  background-repeat: no-repeat;
  border: 20px;
  margin: auto;
  border-radius: 20px;
}

.side-text{
  /* border: 4px solid red; */
  position:absolute;
  height: 246px;
  width: 579px;
  top: 200px;
  right: 150px;

}

.side-text h1{
  font-size: 100px;
  color: rgb(27, 26, 26);
  /* bottom right color  */
  text-shadow: 2px 2px #72afec; 
}

.side-text h4{
  font-size: 20px;
  font-family:monospace;
  color: rgb(69, 67, 67);
}

.side-below{
  position: absolute;
  top: 33rem;
  right: 31.25rem;
  display:flex;
  justify-content: right;
  
}


.side-below h2{
  font-size: 70px;
  color: rgb(249, 169, 20); 
  text-shadow: 1px 1px 0 #fff95a;
}

.head-section {
  margin: auto;
  width: 60%;
  padding: 1em;
}

.head-section h1{
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px #293548;
}

.head-section p{
  width: 610px;
  padding: 0.8em 0;
  font-size: 30px;
}
.input-div {
  /* border:2px solid rgb(98, 98, 255); */
  box-shadow: 3px 3px rgb(64, 63, 63);
  /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(0, 0, 0, 0.12); */
  background-color: #aeccea;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
  width: 60%;
  padding: 1em;
}

.input-div span {
  display: flex;
  flex-direction: column;
}

.input-div span label {
  font-family: sans-serif;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.text-body {
  background-color: rgb(175, 170, 170);
  height: 60vh;
  width: 70%;
  border-radius: 10px;
  margin: auto;
}

button {
  width: 116px;
  height: 36px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  background: #0066ff;
  border-radius: 10px;
  color: white;
  border: none;
}

.button-bar {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: end;
}

.button-bar button {
  margin: 1em;
}
